<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Appointments</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"> {{appointments_total}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Appointments Done</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{appointments_done}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Upcoming Appointments</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{appointments_upcoming}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>