<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style> #logo{
	}

	body{
		background-color: #ebeff5;
	}


	#total-orders{
		background-color: #4cb4c7;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}</style>
</head>
<body>
<br><br>
    <div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Appointments</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"> {{appointments_total}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Appointments Done</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{appointments_done}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Upcoming Appointments</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{appointments_upcoming}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<br><br>
<div class="row">
    <div class="col-md-5">
        <h5>Appointments:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'AppointmentFormReceptionist' %}">Create Appointments</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Status</th>
                </tr>
                {% for appointment in appointments %}
                <tr>
                    <th><a class="btn btn-sm btn-info" >View</a></th>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time}}</td>
                    <td>{{appointment.doctor}}</td>
                    <td>{{appointment.patient}}</td>
                    <td>{{appointment.status}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7">
           <h5>LATEST 5 Patients</h5>
            <hr>
            <div class="card card-body">
               <a class="btn btn-primary btn-sm btn-block" href="{% url 'PatientProfileReceptionist' %}">Create Patient</a>
                <table class="table table-sm">
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Update</th>
                        <th>Remove</th>

                    </tr>
                    {% for patient in patients %}
                    <tr>
                    <td>{{patient.name}}</td>
                    <td>{{patient.phone}}</td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.gender}}</td>
                    <td><a class="btn btn-sm btn-info" >Update</a></td>
                    <td><a class="btn btn-sm btn-danger" >Delete</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
    </div>
</div>

</body>
</html>
